---
layout: default
---

<header class="container">
  <h1>My Name is Aykut Yilmaz.</h1>
  <p>I am a developer and website designer from Germany.</p>
</header>
<hr>
<div class="container">
  <div class="social-links">
    <h2>Follow me on:</h2>

    <a href="https://www.facebook.com/{{ site.social.facebook }}">{% include facebook-f.svg %}</a>
    <a href="https://twitter.com/{{ site.social.twitter }}">{% include twitter.svg %}</a>
    <a href="https://www.instagram.com/{{ site.social.instagram }}">{% include instagram.svg %}</a>
    <a href="https://www.youtube.com/{{ site.social.youtube }}">{% include youtube.svg %}</a>

    <h2>Mail me:</h2>

    <a href="https://t.me/{{ site.social.telegram }}">{% include telegram-plane.svg %}</a>
    <a href="mailto:{{ site.social.email }}">{% include envelope.svg %}</a>
  </div>
</div>
