---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <style media="screen">
      {% include main.css %}
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#1b6886">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#e4e6e8">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="container">
      <h1>Welcome to my homepage!</h1>
    </header>
    <hr>
    <div class="container">
      <div class="social-links">
        <h2>Follow me on:</h2>

        <a href="https://www.facebook.com/{{ site.social.facebook }}">{% include facebook-f.svg %}</a>
        <a href="https://twitter.com/{{ site.social.twitter }}">{% include twitter.svg %}</a>
        <a href="https://www.instagram.com/{{ site.social.instagram }}">{% include instagram.svg %}</a>
        <a href="https://www.snapchat.com/add/{{ site.social.snapchat }}">{% include snapchat-ghost.svg %}</a>
        <a href="https://plus.google.com/{{ site.social.googleplus }}">{% include google-plus-g.svg %}</a>
        <a href="https://www.youtube.com/{{ site.social.youtube }}">{% include youtube.svg %}</a>
      </div>
    </div>

    <script>
    function targetBlank() {
      var internal = location.host.replace("www.", "");
          internal = new RegExp(internal, "i");

      var a = document.getElementsByTagName('a');
      for (var i = 0; i < a.length; i++) {
        var href = a[i].host;
        if( !internal.test(href) ) {
          a[i].setAttribute('target', '_blank');
        }
      }
    };
    window.onload = targetBlank();
    </script>
  </body>
</html>
