footer {
  flex-shrink: 0;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2.5rem;

  p {
    float: left;
  }

  svg {
    margin-top: 9.5px;
    height: 2rem;
    float: right;
    transition: .3s;
  }

  a {
    color: black;

    &:hover svg{
      opacity: .5;
    }

  }
}

@media (prefers-color-scheme: dark) {
  footer svg {fill:white}
}
