<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Official Homepage of Aykut Yilmaz.</title>

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#d32f2f">
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="Official Homepage of Aykut Yilmaz.">
  <meta property="og:description" content="Junior developer and web designer from Germany">
  <meta property="og:url" content="https://aykut.ga">
  <meta property="og:image" content="https://aykut.ga/assets/img/og-image.jpg">
  <meta property="og:image:height" content="1256">
  <meta property="og:image:width" content="2400">
  <meta property="og:image" content="https://aykut.ga/assets/img/og-image-square.jpg">
  <meta property="og:image:width" content="279">
  <meta property="og:image:height" content="279">
</head>

<body>
  <div class="main-content">
    {{ content }}
  </div>

<footer>
  <div class="container">
    <p>&copy; 2019. All rights reserved.</p>
    <a href="https://github.com/{{ site.social.github }}">{% include github.svg %}</a>
  </div>
</footer>

<script>
  function targetBlank() {
    var internal = location.host.replace("www.", "");
    internal = new RegExp(internal, "i");

    var a = document.getElementsByTagName('a');
    for (var i = 0; i < a.length; i++) {
      var href = a[i].host;
      if (!internal.test(href)) {
        a[i].setAttribute('target', '_blank');
      }
    }
  };
  window.onload = targetBlank();
</script>
</body>

</html>
